
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div formGroupName="fGroup">
      <input formControlName="name"  style="border: solid">
      <input formControlName="pass" style="border: solid">
    </div>
  <div >
    <button type="submit"  style="border: solid"> save</button>
  </div>

</form>


<div class="post-creation">
  <h1 class="black-text">Create a post</h1>
  <article class="col-xs-12 col-lg-6 col-lg-offset-3">

    <fieldset>
      <input  class="col-xs-12" type="text" name="title" placeholder="Post Title">
    </fieldset>

    <fieldset id="content">
        <textarea class="col-xs-12 content"
               type="text"
               name="content"
               placeholder="type your post here">
          </textarea>
    </fieldset>

    <button id="send"  class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-5 center">Create</button>

  </article>
</div>
