<form class="post-container" [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <mat-card class="post-card">
    <div class="post-header">
      <div class="im-here-img" id="user-profile"></div>
      <mat-form-field [hideRequiredMarker]="postForm.value.hideRequired">
        <input matInput formControlName="title" placeholder="Post title" required>
      </mat-form-field>
    </div>
    <div class="post-content">
      <mat-form-field [hideRequiredMarker]="postForm.value.hideRequired">
        <mat-select required formControlName="category">
          <mat-option>-- None --</mat-option>
          <mat-option value="ٌrestaurants">Restaurants</mat-option>
          <mat-option value="housing">Housing</mat-option>
          <mat-option value="hotels">Hotels</mat-option>
        </mat-select>
        <mat-label>
          <mat-icon>favorite</mat-icon> <b> Choose category</b> <i> here</i>
        </mat-label>
      </mat-form-field>
      <!--<mat-checkbox formControlName="hideRequired">Hide required marker</mat-checkbox>-->
      <mat-form-field formArrayName="postContent">
        <div *ngFor="let item of postContents.controls; let pointIndex=index" [formGroupName]="pointIndex">
          <mat-label>Start askin your question here!</mat-label>
          <textarea formControlName="text" matInput placeholder="Jé faim jépa darjan!!"> </textarea>
        </div>
      </mat-form-field>
    </div>
  </mat-card>

  <mat-card class="post-card">
    <!-- <mat-label>Add photos!</mat-label> -->
    <!-- (change)="onSelectedFile($event)" -->
    <input class="file-input" style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
    <button class="find-button" mat-raised-button type="submit" (click)="triggerFile(fileInput)">+
      Add photos</button>
    <!-- <span>{{file ? file.name : 'or drag and drop file here' }}</span> -->
    <div #image class="image-wrapper"></div>
  </mat-card>

  <mat-card class="post-card">
    <button class="find-button" mat-raised-button type="submit">Create your post</button>
  </mat-card>
</form>
