<mat-card class="post-card">
  <form class="post-container" [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="post-header">
      <img class="im-here-img" src="../../assets/img/User_Avatar-04-512.png" alt="img" />
      <mat-form-field [hideRequiredMarker]="postForm.value.hideRequired">
        <input matInput formControlName="title" placeholder="Post title" required>
      </mat-form-field>
    </div>
    <div class="post-content">
      <mat-form-field [hideRequiredMarker]="postForm.value.hideRequired">
        <mat-select required formControlName="category">
          <mat-option>-- None --</mat-option>
          <mat-option value="ٌrestaurants">ٌRestaurants</mat-option>
          <mat-option value="housing">Housing</mat-option>
          <mat-option value="hotels">Hotels</mat-option>
        </mat-select>
        <mat-label>
          <mat-icon>favorite</mat-icon> <b> Choose category</b> <i> here</i>
        </mat-label>
      </mat-form-field>
      <!--<mat-checkbox formControlName="hideRequired">Hide required marker</mat-checkbox>-->
      <mat-form-field formArrayName="postContent">
        <div *ngFor="let item of postContents.controls; let pointIndex=index" [formGroupName]="pointIndex">
          <mat-label>Start askin your question here!</mat-label>
          <textarea formControlName="text" matInput placeholder="Jé faim jépa darjan!!"> </textarea>
        </div>
      </mat-form-field>
    </div>
    <button class="find-button" mat-raised-button color="primary" type="submit">find answers</button>
  </form>
</mat-card>
