.post-card {
  margin: 50px auto;
  padding: 0 50px;
  max-width: 40rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.post-header {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post-content {
  display: flex;
  flex-direction: column;
}
.find-button{
  margin: 1rem;
}

.post-container form {
  margin-bottom: 20px;
}
textarea{
  display: flex;
}
.post-container form>* {
  margin: 5px 0;
}

.post-container .mat-radio-button {
  margin: 0 12px;
}

.im-here-img {
  margin: 0 20px;
  width: 40px;
  height: 40px;
}
