<div class="post-card" (click)="goTodetails()">
  <div class="post-header">
    <img mat-avatar class="im-here-img" src="../../assets/img/User_Avatar-04-512.png" alt="img" />
    <div class="title">
      <div>{{post.username}}</div>
      <div class="date">{{post.creationDate | date: 'yyyy-MM-dd'}}</div>
    </div>
    <div class="spacer"></div>
    <app-rating [rating]="starCount" [itemId]='post.id'></app-rating>
  </div>
  <img mat-image src="../../assets/img/people-communicating.jpg" alt="Photo of a Shiba Inu">
  <div>
    <p>
      {{postContent.text}}
    </p>
  </div>
</div>
