.sidenav-container {
  height: 100%;
  //position: absolute !important;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
}

li button {
  margin: 10px;
  border: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.box {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 55px;

  //line-height: 13em;
  &:hover {
    border-bottom: #fff solid;
  }
}

.nav-list {
  display: table;
  // flex-direction: row;
  // align-content: center;
  // align-items: center;
  list-style: none;
}

.sidenav {
  //position: absolute;
  //top: 0;
  width: 250px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  border-right: none;
  z-index: 100;
}

.nav-icon {
  margin: 0 5px;
  width: 80px;
}

// .sidenav .mat-toolbar {
//   position: absolute;
//   //margin-bottom: 10px;
//   box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
//   width: 100%;
// }

.mat-toolbar {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  //position: absolute;
  //top: 0;
  z-index: 1;
  background-color: #303030;
}

.im-here-img {
  margin: 0 20px;
  width: 40px;
}

.mat-toolbar a {
  height: 40px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}

.user-profile {
  padding: 0 10px;
  float: right;
  width: 55px;
  height: 55px;
}

.btn-login {
  float: right;
}

.spacer {
  display: flex;
  flex: 1 1 auto;
}

.Categories-text {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px 16px 20px 10px;
  color: #292961;
}

.Categories-icon {
  flex: 0 0 40px;
  font-size: 2rem;
}

mat-nav-list a i,
i.material-icons {
  margin: 0 30px 0 10px;
  width: 20px;
}

.setting,
.Categories {
  border-left: 4px solid #393982;
}

.setting {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.menu-profile {
  width: 200px;
}

.mat-menu-item {
  display: flex !important;
  align-items: center;
}

.active {
  background-color: rgb(251, 255, 218);
  color: #292961;
  font-weight: bold;
  font-size: 1.5rem;
  animation: fadein 1s ease-in-out;
}

.plus-button-container {
  z-index: 1000;
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  &:hover {
    transform: rotate(0.5turn);
    transition: 0.5s;
  }

  &:not( :hover) {
    transform: rotate(1turn);
    transition: 0.5s;
  }
}

.plus-button {
  border: 2px solid #393982;
  background-color: #fff;
  font-size: 16px;
  height: 2.5em;
  width: 2.5em;
  border-radius: 999px;
  position: relative;

  &:after,
  &:before {
    content: "";
    display: block;
    background-color: #393982;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:before {
    height: 1em;
    width: 0.2em;
  }

  &:after {
    height: 0.2em;
    width: 1em;
  }

  

  &:hover:after,
  &:hover:before {
    background-color: #7979fd;
  }
}
