<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      <a routerLink="/news">
        <img class="im-here-img" src="../../assets/img/logo.png" alt="img" />
        <p>I'm here</p>
      </a>
    </mat-toolbar>
    <div class="Categories-text">
      <div class="Categories-icon">
        <i class="fas fa-crosshairs"></i>
      </div>
      <div><a>Categories</a></div>
    </div>
    <mat-nav-list class="Categories">
      <a mat-list-item href="#"><i class="fas fa-hotel"></i>Hotel</a>
      <a mat-list-item href="#"><i class="fas fa-door-open"></i>Housing</a>
      <a mat-list-item href="#"><i class="fas fa-utensils"></i>Restaurant</a>
      <a mat-list-item href="#"><i class="fas fa-plane-departure"></i>Flight</a>
    </mat-nav-list>
    <hr>
    <div class="spacer"></div>
    <mat-nav-list class="setting">
      <a mat-list-item href="#"><i class="fas fa-user-cog"></i>Setting</a>
      <a mat-list-item href="#"><i class="fas fa-star"></i>Rate us</a>
      <a mat-list-item href="#"><i class="fas fa-envelope"></i>Contact Us!</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a *ngIf="isHandset$ | async" routerLink="/news">
        <img class="im-here-img" src="../../assets/img/logo.png" alt="img" />
        <p>I'm here</p>
      </a>

      <div class="spacer"></div>
      <a routerLink='login'>
        <button *ngIf="!loggedIn" mat-raised-button color="secondary">Login</button>
      </a>
      <a *ngIf="!loggedIn" routerLink='register'>
        <button mat-raised-button color="secondary">Sign up</button>
      </a>
      <div class="logout-icon" (click)="logout()" *ngIf="loggedIn">
        <mat-icon>power_settings_new</mat-icon>
      </div>
      <img *ngIf="loggedIn" [matMenuTriggerFor]="menu" class="user-profile" src="assets/img/User_Avatar-04-512.png">
      <mat-menu class="menu-profile" #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>publish</mat-icon>
          <span>Share</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>mode_comment</mat-icon>
          <span>Comment</span>
        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
        <a mat-menu-item>
          <i class="material-icons">face</i>
          My name
        </a>
        <a mat-menu-item>
          <i class="material-icons">view_list</i>
          Profile
        </a>
        <a mat-menu-item>
          <i class="material-icons">highlight_off</i>
          Sign out
        </a>
      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container">
      <ng-content></ng-content>

      <!-- Add new post button -->
      <div class="plus-button-container">
        <a routerLink='postCreation'>
          <button *ngIf="!_router.url.includes('postCreation') && loggedIn" class="plus-button"></button>
        </a>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>