<mat-sidenav-container class="sidenav-container">


  <mat-sidenav #drawer class="sidenav" [mode]="'over'" [opened]="false">

    <mat-toolbar color="primary">
      <a routerLink="/news">
        <img class="im-here-img" src="../../assets/img/logo.png" alt="img" />
        <p>Find me</p>
      </a>
    </mat-toolbar>
    <div class="Categories-text">
      <div class="Categories-icon">
        <i class="fas fa-crosshairs"></i>
      </div>
      <div><a>Categories</a></div>
    </div>
    <mat-nav-list class="Categories">
      <a routerLinkActive="active" [routerLink]="[ '/postCreation' ]" mat-list-item><i
          class="fas fa-hotel"></i>Hotel</a>
      <a routerLinkActive="active" mat-list-item><i class="fas fa-door-open"></i>Housing</a>
      <a routerLinkActive="active" mat-list-item><i class="fas fa-utensils"></i>Restaurant</a>
      <a routerLinkActive="active" mat-list-item><i class="fas fa-plane-departure"></i>Flight</a>
    </mat-nav-list>

    <hr>
    <div class="spacer"></div>

    <mat-nav-list class="Categories">
      <a mat-list-item><i class="fas fa-user-cog"></i>Setting</a>
      <a mat-list-item><i class="fas fa-star"></i>Rate us</a>
      <a mat-list-item><i class="fas fa-envelope"></i>Contact Us!</a>
    </mat-nav-list>

  </mat-sidenav>


  <mat-toolbar class="mat-toolbar">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <a *ngIf="isHandset$ | async" routerLink="/news">
      <img class="im-here-img" src="../../assets/img/logo.png" alt="img" />
      <p>I'm here</p>
    </a>

    <div class="spacer"></div>

    <ul class="nav-list" *ngIf="!(isHandset$ | async)">
      <li class="box">
        <button>Become a Guide</button>
      </li>
      <li class="box">
        <button>Store</button>
      </li>
      <li class="box" *ngIf="!isLoggedIn">
        <button routerLink='register'>Sign up</button>
      </li>
      <li class="box" *ngIf="!isLoggedIn">
        <button routerLink='login'>Log in</button>
      </li>
      <li class="box">
        <img class="user-profile" *ngIf="isLoggedIn" [matMenuTriggerFor]="menu" src="assets/img/User_Avatar-04-512.png">
      </li>
      <mat-menu class="menu-profile" #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>publish</mat-icon>
          <span>Share</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>mode_comment</mat-icon>
          <span>Comment</span>
        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
        <button mat-menu-item *ngIf="isLoggedIn" (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Log Out</span>
        </button>
      </mat-menu>
    </ul>

    <ul class="nav-list" *ngIf="(isHandset$ | async)">
      <li class="box">
        <img class="user-profile" *ngIf="isLoggedIn" [matMenuTriggerFor]="menu"
          src="assets/img/User_Avatar-04-512.png">
      </li>
      <mat-menu class="menu-profile" #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>publish</mat-icon>
          <span>Share</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>mode_comment</mat-icon>
          <span>Comment</span>
        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
        <button mat-menu-item *ngIf="isLoggedIn" (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Log Out</span>
        </button>
      </mat-menu>
    </ul>
  </mat-toolbar>

  <!-- <mat-sidenav-content></mat-sidenav-content> -->
  <router-outlet></router-outlet>

</mat-sidenav-container>

<!-- Add Content Here 
    <div class="container">
      <ng-content></ng-content>

       Add new post button 
      <div class="plus-button-container">
        <a routerLink='postCreation'>
          <button *ngIf="!_router.url.includes('postCreation') && isLoggedIn" class="plus-button"></button>
        </a>
      </div>

    </div> -->
