.sidenav-container {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  width: 250px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  border-right: none;
}
.nav-icon{
  margin: 0 5px;
  width: 80px;
}
.sidenav .mat-toolbar {
  margin-bottom: 10px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  width: 100%;
}

.mat-toolbar.mat-primary {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  position: sticky;
  top: 0;
  z-index: 1;
}

.im-here-img{
  margin: 0 20px;
  width: 40px;
}
.mat-toolbar a{
  height: 40px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}

.user-profile {
  padding:0 10px;
  float: right;
  width: 55px;
}

.btn-login {
  float: right;
}

.spacer{
  display: flex;
  flex: 1 1 auto;
}

.Categories-text{
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px 16px 20px 10px;
  color: #292961;
}

.Categories-icon{
  flex: 0 0 40px;
  font-size: 2rem;
}

mat-nav-list a i,
i.material-icons{
  margin:0 30px 0 10px;
  width: 20px;
}

.setting,
.Categories{
  border-left:4px solid #393982;
}
.setting{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.container{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.menu-profile{
  width: 200px;
}

.plus-button-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.mat-menu-item {
  display: flex !important;
  align-items: center;
}
.plus-button {
  border: 2px solid #393982;
  background-color: #fff;
  font-size: 16px;
  height: 2.5em;
  width: 2.5em;
  border-radius: 999px;
  position: relative;
  &:after,
  &:before {
    content: "";
    display: block;
    background-color: #393982;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:before {
    height: 1em;
    width: 0.2em;
  }
  &:after {
    height: 0.2em;
    width: 1em;
  }
  &:hover {
    transform: rotate(0.5turn);
    transition: 0.5s;
  }
  &:hover:after,
  &:hover:before {
    background-color: #7979fd;
  }
}

