<!--Bread Crumb and Nav bar-->
<app-breadcrumb (toggleMenu)=toggleMenu($event)>

  

</app-breadcrumb>


<!-- Menu -->
<nav [ngClass]='{"expanded" : expand}'>
  <div class="menu_bloc">
    
    <div class="clear"></div>

    <hr>

    <div class="categor">
      <p>Categories</p>
      <mat-nav-list>
          <div class="nav-icon-container">
              <svg><use xlink:href="/assets/icons-f1e1e3187fbe3fe3aa42a17cb2558778f1a2ddc2a1914f0ea7ea59d27b4e425c.svg#project"></use></svg>
              </div>
        <a mat-list-item href="#">Hotel</a>
        <a mat-list-item href="#">Housing</a>
        <a mat-list-item href="#">Restaurant</a>
        <a mat-list-item href="#">Flight</a>
      </mat-nav-list>
    </div>
    <hr>
    <mat-nav-list>
      <a mat-list-item href="#">Setting</a>
      <a mat-list-item href="#">Rate us</a>
    </mat-nav-list>
  </div>

  <div class="feedback center-content">
    <button>Contact Us!</button>
  </div>
</nav>
<div [ngClass]='{"expanded" : expand}' class="close-bkgd" (click)='toggleMenu()'></div>

<!--Background Image-->
<div class="img-container"></div>
<div class="plus-button-container">
  <button class="plus-button plus-button--large"></button>
</div>

<!--<app-post-creation></app-post-creation>-->

<router-outlet></router-outlet>

<!--The content below is only a placeholder and can be replaced.-->




