<app-breadcrumb (toggleMenu)=reciveToggleMenu($event)></app-breadcrumb>
<!-- Menu -->
<nav [ngClass]='{"expanded" : expand}'>
  <div class="menu_bloc">
    <div>
      <img class="userprofile" src="assets/img/User_Avatar-04-512.png">
      <a routerLink='login'>
        <button mat-raised-button
                (click)="loginPage()"
                color="primary"
                class="userprofile">Login
        </button>
      </a>
      <div class="close-button">
        <button (click)='reciveToggleMenu()' >
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
    <div class="clear"></div>

  <hr>

  <div class="categor">
    <p>Categories</p>
    <mat-nav-list>
      <a mat-list-item href="#">Hotel</a>
      <a mat-list-item href="#">Housing</a>
      <a mat-list-item href="#">Restaurant</a>
      <a mat-list-item href="#">Flight</a>
    </mat-nav-list>
  </div>
  <hr>
  <mat-nav-list>
    <a mat-list-item href="#">Setting</a>
    <a mat-list-item href="#">Rate us</a>
  </mat-nav-list>
  </div>

  <div class="feedback center-content">
    <button (click)="showDialog = !showDialog">Send your feedback!</button>
  </div>
</nav>


<router-outlet></router-outlet>

<!--The content below is only a placeholder and can be replaced.-->




