@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

nav {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #1E88E5;
    transition: color .3s ease;
    left: -100%;
    width: 230px;
    z-index: 2;
    box-shadow: 0 0 30px black;
}
.expanded {
    left: 0;
    transition: 0.3s;
  }
  
.userprofile{

    width: 50px;
    margin: 1vw 3vw 1vw 1vw;

  }

  .categor{
    margin: 1em;
    margin-top: 5vw;
    color: white;
  }
  a.mat-list-item{
    color: white;
  }
  .close-button {
    float: right;
  }
  .clear{
    clear: both;
  }
