
.ariane {
  color:white;
    height: 40px;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #1E88E5; 
  }
  .menuPicto {
    display: inline-block;
    height: 100%;
    width: 30px;
    margin-right: 5px;
    vertical-align: middle;
    padding-top: 1px;
  }
  
  .menuPicto div {
    height: 3px;
    margin-bottom: 3px;
    background-color: white;
  }