<div class="ariane">

  <div class="hamandlogo">

    <a (click)='openMenu()' class="menu">
      <div class="menuPicto">
        <div>
        </div>
        <div>
        </div>
        <div>
        </div>
      </div>
    </a>

  </div>

  <div>
    <a routerLink="/news">
      <img class="im-here-img" src="../../assets/img/imhere.jpg" alt="img"/>
    </a>
  </div>

  <div class="profile-container">
    <img class="user-profile" src="assets/img/User_Avatar-04-512.png">
    <div class="btn-login">
      <a routerLink='login'>
        <button mat-raised-button
                (click)="loginPage()"
                color="primary"
        >Login
        </button>
      </a>
    </div>
  </div>

</div>
