
.ariane {
  display: flex;
  color:white;
  height: 45px;
  padding: 0.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #1E88E5;
}
.hamandlogo{
  margin-top: 10px;
}
.menuPicto {
  display: inline-block;
  width: 30px;
  margin-right: 5px;
  vertical-align: middle;
}

.menuPicto div {
  height: 3px;
  margin-bottom: 3px;
  background-color: white;
}

img{
  width: 44px;
  padding-left: 10px;
}
