<form class="post-container" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-card class="mat-card">
    <div class="post-header">
      <mat-form-field [hideRequiredMarker]="userForm.value.hideRequired">
        <input matInput formControlName="firstname" placeholder="Name" required>
      </mat-form-field>
    </div>
    <div class="post-header">
      <mat-form-field [hideRequiredMarker]="userForm.value.hideRequired">
        <input matInput formControlName="lastname" placeholder="Last name" required>
      </mat-form-field>
    </div>
    <div class="post-header">
      <mat-form-field [hideRequiredMarker]="userForm.value.hideRequired">
        <input matInput formControlName="username" placeholder="User name" required>
      </mat-form-field>
    </div>
    <div class="post-header">
      <mat-form-field [hideRequiredMarker]="userForm.value.hideRequired">
        <input matInput formControlName="email" placeholder="Email" required>
      </mat-form-field>
    </div>
  </mat-card>
  <mat-card class="mat-card">
    <div formArrayName="address">
      <div *ngFor="let address of userForm.controls.address.controls; let i=index">
        <div [formGroupName]="i">
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input formControlName="street" matInput placeholder="Entre your adresse!!">
          </mat-form-field>
          <mat-form-field>
            <mat-label>city</mat-label>
            <input formControlName="city" matInput placeholder="City name!!">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Postcode!</mat-label>
            <input formControlName="postcode" matInput placeholder="Postcode!!">
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card class="mat-card">
    <button class="find-button" mat-raised-button color="primary" type="submit">Update my account</button>
  </mat-card>
</form>
