@charset "UTF-8";
$primary-color: #00965E;
$primary-color-light: #2CAD6E;
$primary-color-lighter: #44C570;
$primary-color-dark: #00594E;
$primary-color-alt1: #2EAB36;
$primary-color-alt2: #00A48F;
$primary-color-alt3: #008D80;
$primary-color-alt4: #DBDD3A;
$primary-color-alt5: #AF8800;

$primary-bg: #F3F3F3;
$secondary-bg: #a7a7a7;
$primary-content-bg: #4b4b4b;
$primary-font: Tahoma, Arial, sans-serif;
$primary-font-size: 14px;

$button-grey:#afafaf;
$button-grey-dark:#848484 ;

$border-grey-dark:#666;
$border-grey: #C1B7BC;
$border-grey-light:#ddd;
$border-black: #2d2926;

$color-black-menu:#2d2926;

$color-white: #ffffff;
$color-black: #000000;
$color-black-fade: #333;
$color-red: #D3395F;
$color-blue: #2380d0;
$color-green: #00A48F;
$color-green-light: #8BEA8E;
$color-grey-dark: #616161;
$color-grey: #848484;
$color-grey-light: #C7C7C7;
$color-violet: #ab3883;
$color-orange:#F49C5F;
$color-orange-dark: #EC6D4A;
$color-purple: #7a3b8a;

$color-gold: #FFF28F;
$color-silver: #C7C7C7;
$color-bronze: #FDD49C;

$shadow: #434242;
$shadow-green: #A5D387;

$rdb-gold: #f7bb64;
